services:
  comfyui:
    container_name: comfyui
    image: frefrik/comfyui-flux:latest
    restart: unless-stopped
    ports:
      - "8188:8188"
    volumes:
      - "./data:/app"
    environment:
      - CLI_ARGS=
      - HF_TOKEN=${HF_TOKEN}
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              device_ids: ['0']
              capabilities: [gpu]